---
layout: default
header_image: "/assets/images/bg/bg-portfolio.jpg"
title: "Lets have a talk!"
description: "Discuss a project for product management or consulting over a coffee."
---

{% include page_header.html %}

<section class="contact-form-wrap section">
	<div class="container">
		<div class="row justify-content-center align-items-center bg-gray">
			<div class="col-lg-10">
				<div class="contact-content pl-lg-5 mb-5 mb-lg-0">
					<h3 class="mb-4 font-weight-bold">Contact Information</h3>
					<p>Excepteur sint ocacat cupidatat non proi dent sunt in culpa qui officia deserunt.mollit anim id est
						laborum. sed ut pers piciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
						totam rem aperiam eaque ipsa quae ab illo</p>

					<div class="row mt-5">
						<div class="col-lg-4">
							<div class="contact-info mt-3">
								<i class="ti-location-pin text-color"></i>
								<div class="info">
									<h4>My Address</h4>
									<p>H.no. 1347, Sector 31, Jharsa Road, Gurgaon, 122022</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="contact-info mt-3">
								<i class="ti-mobile text-color"></i>
								<div class="info">
									<h4>Call Me</h4>
									<p>(+91) 7988750958</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="contact-info mt-3">
								<i class="ti-email text-color"></i>
								<div class="info">
									<h4>Email</h4>
									<p>heypiyush@outlook.com </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="row justify-content-center">
			<div class="col-lg-10 mt-4">
				<div class="contact-form">
					<h3 class="mb-4 font-weight-bold">...</h3>
					<form class="contact__form" method="post" action="{{site.contact_form_action}}">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{% include call_to_action.html %}